In [1]:
import numpy as np 
import pandas as pd

In [3]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index= list(zip(outside, inside))
hier_index= pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [11]:
df= pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1  1.226245  0.753487
   2  1.093318  0.617102
   3  1.526041 -1.634413
G2 1  0.118606 -0.626216
   2 -0.462512  0.942785
   3 -0.103654 -2.028574

In [13]:
df.loc['G1'].loc[1]['A']

1.2262449306540566

In [16]:
df.index.names= ['Groups','Num']

In [18]:
df.xs(1, level='Num')

               A         B
Groups
G1      1.226245  0.753487
G2      0.118606 -0.626216