In [1]:
#A series is liballable numpy array

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
labels =['sedans', 'suv', 'coupes']

In [5]:
mydata =[10,20,35]

In [7]:
arr = np.array(mydata)

In [9]:
d = {'sedans':10, 'suv':20, 'coupes':35}

In [18]:
pd.Series(data = mydata, index = labels)

sedans    10
suv       20
coupes    35
dtype: int64

In [20]:
pd.Series(mydata, labels)

sedans    10
suv       20
coupes    35
dtype: int64

In [21]:
pd.Series(arr)

0    10
1    20
2    35
dtype: int32

In [22]:
pd.Series(d)

sedans    10
suv       20
coupes    35
dtype: int64

In [23]:
#How to grab info from a series\

In [33]:
ser1 = pd.Series([1,2,3,5],['USA','GERMANY','USSR', 'Japan'])

ser1

In [34]:
ser1

USA        1
GERMANY    2
USSR       3
Japan      5
dtype: int64

In [35]:
ser2 = pd.Series([1,2,5,4],['USA','GERMANY','Italy', 'Japan'])

In [36]:
ser2

USA        1
GERMANY    2
Italy      5
Japan      4
dtype: int64

In [37]:
ser1['USA']

1